<header
  style="
    color: #fbfbff;
    padding: 10px 0;
    text-align: center;
    font-family: Arial;
    background: #fc2f00;
  "
>
  <h1 style="font-size: 1.7rem; text-transform: capitalize">
    Good Day, <%= header %>
  </h1>
</header>
