<header
  style="
    background: #e2d4f0;
    padding: 30px 0;
    text-align: center;
    font-family: Arial;
  "
>
  <% if (logo) { %>
  <img
    src="{logo}"
    style="
      max-width: 80px;
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
      overflow: hidden;
    "
  />
  <% } %>
  <h1 style="font-size: 1.7rem; text-transform: capitalize; text-align: center">
    {headerText}
  </h1>
</header>
